<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="../staticfiles/css/swiper.css">
	<link rel="stylesheet" type="text/css" href="../staticfiles/css/js.css">
	<link rel="stylesheet" type="text/css" href="../staticfiles/css/index.css">
</head>
<body>
	<header class="header" id="header">
		<section class="banner_section">
			<div class="swiper banner_swiper">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide banner_swiper_slides">
			        	<a>
			        		<picture>
								 <source srcset="../staticfiles/images/header/banner1.png" media="(min-width: 768px)">
								 <img class="mobile_banner_img" src="../staticfiles/images/header/banner1m.png">
							</picture>
			        	</a>
			        	<div class="banner_curtain">
			        		
			        	</div>
			        </div>
			        <div class="swiper-slide banner_swiper_slides">
			        	<a>
			        		<picture>
								 <source srcset="../staticfiles/images/header/banner2.png" media="(min-width: 768px)">
								 <img class="mobile_banner_img" src="../staticfiles/images/header/banner2m.png" >
							</picture>
			        	</a>
			        	<div class="banner_curtain">
			        		
			        	</div>
			        </div>
			        <div class="swiper-slide banner_swiper_slides">
			        	<a>
			        		<picture>
								 <source srcset="../staticfiles/images/header/banner3.png" media="(min-width: 768px)">
								 <img class="mobile_banner_img" src="../staticfiles/images/header/banner3m.png" >
							</picture>
			        	</a>
			        	<div class="banner_curtain">
			        		
			        	</div>
			        </div>
			    </div>
		    </div>
		</section>
		<section class="navbar_section">
			<div class="container_lg">
				<nav class="navbar_container">
					<div class="navbar_left_items">
						<div class="navbar_logo">
							<a>
								<img src="../staticfiles/images/logo/logo.png">
							</a>
						</div>
						<div class="language_desktop">
							<select>
								<option selected>Рус</option>
								<option>En</option>
								<option>Uz</option>
							</select>
						</div>
						<div class="navbar_control" onclick="controlnavbar()">
							<div class="line"></div>
							<div class="line"></div>
						</div>
					</div>
					<div class="navbar_right_items">
						<ul>
							<li>
								<a class="link_top">пРАЙС-ЛИСТ</a>
								<a class="link_bottom">пРАЙС-ЛИСТ</a>
							</li>
							<li>
								<a class="link_top">О компании</a>
								<a class="link_bottom">О компании</a>
							</li>
							<li>
								<a class="link_top">Продукты</a>
								<a class="link_bottom">Продукты</a>
							</li>
							<li>
								<a class="link_top">Профессионалам</a>
								<a class="link_bottom">Профессионалам</a>
							</li>
							<li>
								<a class="link_top">Контакты</a>
								<a class="link_bottom">Контакты</a>
							</li>
							<li class="language_mobile">
								<select>
									<option selected>Рус</option>
									<option>En</option>
									<option>Uz</option>
								</select>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
		<div class="curtain_navbar">
			
		</div>
	</header>
	<main class="main" id="main">
		<h1>
			Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Totam officiis doloribus doloremque magnam placeat animi dolor natus cumque repudiandae laboriosam neque, quia minima, repellat incidunt beatae quaerat, voluptate molestiae mollitia?
		</h1>
	</main>
	<footer class="footer" id="footer">
		
	</footer>
	<script src="../staticfiles/js/swiper.js"></script>
	<script src="../staticfiles/js/index.js"></script>
</body>
</html>