/* IMPORTANT STYLES  */
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'buyan';
  src: url('../fonts/BuyanRegular-PKZRE.ttf');
}

@font-face {
  font-family: 'light-buyan';
  src: url('../fonts/BuyanThin-L3AW4.ttf');
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/Gilroy-Regular.ttf');
}

*{box-sizing: border-box; }

body,header,main,footer,section,div{width:100%; height:auto;}

body::-webkit-scrollbar{width:5px;}

body::-webkit-scrollbar-track {
  background:#555555; 
}
 
body::-webkit-scrollbar-thumb {
  background:#FFCC01; 
}

body::-webkit-scrollbar-thumb:hover {
  background:#FEAE01; 
}

body,h1,h2,h3,h4,h5,h6,p,section,div{margin:0 ; padding:0;}

button,input{outline:none !important;}

main{max-width:100%; overflow: hidden;}

ul,li{margin:0; padding:0; list-style: none;}

a{color:inherit; text-decoration:none !important; cursor: pointer;}

a:hover{color:inherit;}

.container_lg,
.container_md,
.container_sm,
.container_lgf,
.container_mdf,
.container_smf{width: 100%; 
              padding-left: 15px; 
              padding-right: 15px; 
              margin-left: auto;
              margin-right: auto; 
              height: auto; }

/* ALL STYLES */

/* start header */

.header{
  position: relative;
}

.banner_swiper_slides{
  position: relative;
}

.banner_swiper_slides a img{
  width:100%;
  height:auto;
  object-fit: center;
}

.banner_curtain{
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:99.5%;
  background:rgba(0, 0, 0, 0.4);
  
}

.navbar_section{
  width:100%;
  height:auto;
  position: absolute;
  top:0;
  left:0;
  border-bottom: 1px solid white;
  background: transparent;
  z-index: 3; 
}

.navbar_container{
  width:100%;
  height:90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar_left_items,.navbar_right_items{
  width: auto;
}

.navbar_left_items{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo,.language_desktop,.navbar_control{width: auto;}

.navbar_logo a img{
  width:65px;
  transform: translateY(4px);
}

.language_desktop{
  margin-left:30px;
}

.language_desktop select{
  border:none;
  background: transparent;
  outline: none;
  color:white;
  font-size:30px;
  font-family: buyan;
}

.language_desktop select option{
  background: black;
  border: none;
 }

.navbar_right_items ul li{
  display: inline-block;
  text-transform: uppercase;
  font-family: buyan;
  font-size:28px;
  padding:0px 15px 0px 15px;
  overflow: hidden;
  position: relative;
  transform: translateY(4px);
  }

.link_top{position: absolute; 
         transform:translateY(-100%);
         transition:transform 0.5s linear;
       }

.link_bottom{
  display: block;
  transition:transform 0.5s linear;
}

.navbar_right_items ul li:hover .link_top{
  transform:translateY(0%);
}
 
.navbar_right_items ul li:hover .link_bottom{
  transform:translateY(100%);

}

.navbar_control{
  width:45px;
  height:45px;
  background: #FFCC01;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line{
  width:60%;
  height:2.5px;
  background: white;
}
.line:nth-child(2){
  margin-top:4px;
}



.language_mobile select{
  width:100%;
  background: transparent;
  color: white;
  outline: none;
  font-family: buyan;
  font-size: 23px;
  border: none;
}

.language_mobile select option{
  background: black;
}

.curtain_navbar{
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  top:0;
  left:0;
  display: none;
}

.swiper_control_section{
  right:50%;
  top:0;
  position: absolute;
  width:auto;
  height:auto;
  z-index:1;
}

.circle{
  width:350px;
  height:350px;
  border-radius:50%;
  border:3px solid gray;
  position: relative;
  transform: translateY(10%) rotate(-35deg);
  border-right: 5px solid white;
}

.circle_in{
  width:100%;
  height:100%;
  border-radius: 50%;
  transform:rotate(35deg);
  display: flex;
  justify-content: center;
  align-items: center;
  }

.control_back_counter{
  position: absolute;
  width:200px;
  height:430px;
  background:#FFCC01;
  top: 0;
  left:21.5%;
  z-index: -1;
  display: flex;
  align-items: center;
}

.counter_number{
  font-family: buyan;
  color:black;
  font-size:100px;
  overflow: hidden;

}

.counter_pointer{
  position: absolute;
  color: white;
  font-size:80px;
  cursor: pointer;
  transform: translateY(10px) translateX(10px) rotate(45deg);
}

.header_to_down{
  color: white;
  position: absolute;
  bottom:50px;
  width:100%;
  z-index: 1; 
}

.down_circle{
  width:50px;
  height:50px;
  background: #FFCC01;
  border-radius: 50%;
  font-size:25px;
  color:black;
  transition-property: padding-top;
  transition: 0.5s;
}

.down_circle:hover{
  padding-top:10px;
  color: white;
}

.down_circle a{
  display: block;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.banner_contents{
  width:100%;
  height:100%;
  position: relative;
  }

.banner_about{
  position: absolute;
  top:45%;
  width: 100%;
  height: auto;
}
.banner_about div p{
  font-size:15vw;
  color: white;
  font-family: buyan;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.system_text_about_system{
  position: absolute;
  bottom:50px;  
}

.banner_bottom_texts{
  display: flex;
  justify-content: flex-end;
}
.system_text,.about_system_text{
  width: auto;
  color: white;
}

.system_text{
  margin-right:30%;
  display: flex;
  align-items: flex-end;
  font-family: gilroy;
  font-size:25px;
}

.about_system_text{
  text-align: right;
  font-family: buyan;
  font-size:80px;
}

.swiper_mobile_control{
  position: absolute;
  bottom: 5px;
  width:100%;
  height: auto;
  z-index: 1;
  display: none;
}

.mobile_control_block{
  padding: 45px 20px 35px 20px;
  width:300px;
  max-width: calc(100% - 90px);
  background:#FFCC01;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swiper_mobile_counter,.swiper_mobile_ponters{width: auto;}

.swiper_mobile_ponters{display: flex;}

.swiper_mobile_ponters div{
  width:50px;
  height:50px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:28px;
  padding-top: 2px;
  transition-property:padding-left,padding-right;
  transition: 0.5s;
  cursor: pointer;
}

.swiper_mobile_ponters div:nth-child(1){
  margin-right: 20px;
}

.swiper_mobile_ponters div:nth-child(1):hover{
  padding-right:5px;
  color:#FFCC01;
}

.swiper_mobile_ponters div:nth-child(2):hover{
  padding-left:5px;
  color:#FFCC01;
}

.swiper_mobile_counter{
  font-family: buyan;
  font-size: 25px;
}

/* endheader */



/* MEDIAS MAX-WIDTH */

@media(max-width: 1300px){
  /* start max 1300px */
  .swiper_control_section{
    right:58%;
  }
  .circle{width:300px;
          height:300px;
  }

.control_back_counter{
  width:170px;
  height:360px;
  }
  .system_text{font-size:22px; margin-right: 25%;}

  .about_system_text{font-size:70px;}
  /* end max 1300px */
}

@media(max-width: 1200px){
  /* start max 1200px */
  .swiper_control_section{
   display: none;
  }
  .swiper_mobile_control{
    display: block;
  }
  .banner_about{
    top:30%;
  }
  .system_text_about_system{
    top:55%;
  }
  /* end max 1200px */
} 

@media(max-width: 1100px){
  /* start max 1100px */
  .banner_swiper_slides a img{
    height:80vw;
  }
  .banner_about{
    top:25%;
  }
  .system_text_about_system{
    top:48%;
  }
  .banner_bottom_texts{
    flex-direction: column-reverse;
  }
  .system_text,.about_system_text{
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
  /* end max 1100px */
}

@media(max-width: 992px){
  /* start max 992px */
  .navbar_right_items ul li{
    font-size: 23px;
    padding: 0px 7px;
  }
  .language_desktop{
    margin-left: 20px;
  }
  .language_desktop select{
    font-size: 26px;
  }
  /* end max 992px */
}

@media(max-width: 768px){
  /* start max 768px */
  .banner_swiper_slides a img{
    height:120vw;
  }
  .navbar_container{
    height:auto;
  }
  .navbar_logo a img{
    width:60px;
  }
  .navbar_section{
    border-bottom: none;
  }
  .navbar_container{
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
  }
  .language_desktop{
    display: none;
  }
  .navbar_right_items{-moz-transition: height .5s;
                      -ms-transition: height .5s;
                      -o-transition: height .5s;
                      -webkit-transition: height .5s;
                      transition: height .5s;
                      height: 0;
                      overflow: hidden;}
  .navbar_right_items ul{
    padding-bottom: 1px;
  }
  .navbar_right_items ul li a{
    width: 100%;
  }
  .navbar_right_items ul li{
    display: block;
    margin-bottom:20px;
    padding: 0;
  }
  .navbar_left_items{
    min-height:80px;
   }
   .banner_about{
    display: none;
  }
  .system_text_about_system{
    top:20%;
    bottom: 100px;
  }
  .system_text_about_system .container_lg{
    height: 100%;
  }
  .banner_bottom_texts{
    height: 100%;
    justify-content: space-between;
  }
  .system_text{font-size:20px;}

  .about_system_text{font-size:60px;}

  .system_text_about_system{
    bottom:130px;
  }
  .header_to_down{
    bottom: 30px;
  }
  /* end max 768px */
}
 
@media(max-width: 576px){
  /* start max 576px */
  .banner_swiper_slides a img{
    height:auto;
  }
  .mobile_control_block{
  padding: 40px 20px 30px 20px;
  }
  /* end max 576px */
}

@media(max-width: 400px){
  /* start max 400px */
  .system_text{font-size:17px;}
  .about_system_text{font-size:55px;}
  .mobile_control_block{
    padding: 30px 20px 25px 20px;
  }
  /* end max 400px */
} 

/* MEDIAS MIN-WIDTH  */

@media(min-width:400px){
  /* start min 400px */
  .container_lgf{width:99%;}
  .container_mdf{width:96%;}
  .container_smf{width:92%;}
  /* end min 400px */
}

@media(min-width: 576px){
  /* start min 576px */
  .container_lg{max-width: 720px;}
  .container_md{max-width: 650px;}
  .container_sm{max-width: 540px;}
  .container_lgf{width:99%;}
  .container_mdf{width:95%;}
  .container_smf{width:91%;}
  /* end min 576px */
}

@media(min-width: 768px){
  /* start min 768px */
  .container_lg{max-width: 930px;}
  .container_md{max-width: 870px;}
  .container_sm{max-width: 720px;}
  .container_lgf{width:99%;}
  .container_mdf{width:95%;}
  .container_smf{width:90%;}
  .navbar_control{
    display: none;
  }
  .language_mobile{
    display: none !important;
  }
  /* end min 768px */
}

@media(min-width: 992px){
  /* start min 992px */
  .container_lg{max-width: 1110px;}
  .container_md{max-width: 1020px;}
  .container_sm{max-width: 940px;}
  .container_lgf{width:99%;}
  .container_mdf{width:94%;}
  .container_smf{width:89%;}
  /* end min 992px */
}

@media(min-width: 1200px){
  /* start min 1200px */
  .container_lg{max-width: 1300px;}
  .container_md{max-width: 1200px;}
  .container_sm{max-width: 1040px;}
  .container_lgf{width:98%;}
  .container_mdf{width:93%;}
  .container_smf{width:88%;}
  /* end min 1200px */
}

@media(min-width:1450px){
  /* start min 1450px */
  .container_lg{max-width: 1450px;}
  .container_md{max-width: 1320px;}
  .container_sm{max-width: 1200px;}
  .container_lgf{width:97%;}
  .container_mdf{width:92%;}
  .container_smf{width:87%;}
  /* end min 1450px */
}

@media(min-width:1650px){
  /* start min 1650px */
  .container_lg{max-width: 1650px;}
  .container_md{max-width: 1500px;}
  .container_sm{max-width: 1320px;}
  .container_lgf{width:96%;}
  .container_mdf{width:91%;}
  .container_smf{width:86%;}
  .navbar_container{
    height:100px;
  }
  .navbar_logo a img{
    width:75px;
  }
  .language_desktop select{
    font-size:35px;
  }
  .navbar_right_items ul li{
    font-size:30px;
  }
  .circle{width:420px;
          height:420px;
  }

.control_back_counter{
  width:230px;
  height:510px;
  }
  .counter_number{
  font-size:105px;
  }

.counter_pointer{
  font-size:85px;
  }
  .system_text{font-size:28px;}

  .about_system_text{font-size:87px;}
  /* end min 1650px */
}

@media(min-width:1900px){
  /* start min 1900px */
  .container_lg{max-width: 1750px;}
  .container_md{max-width: 1600px;}
  .container_sm{max-width: 1420px;}
  .container_lgf{width:95%;}
  .container_mdf{width:90%;}
  .container_smf{width:85%;}
  .navbar_container{
    height:110px;
  }
  .navbar_logo a img{
    width:80px;
  }
  .language_desktop select{
  font-size:40px;
  }
  .navbar_right_items ul li{
    font-size:35px;
  }
  .circle{width:450px;
          height:450px;
  }

.control_back_counter{
  width:250px;
  height:550px;
  }
  .counter_number{
  font-size:110px;
  }

.counter_pointer{
  font-size:90px;
  }
.system_text{font-size:32px;}

.about_system_text{font-size:95px;}
  /* end min 1900px */
}