
.for_category_under{
	transform: translateY(0%) !important;
	opacity: 1 !important;
}

.for_category_under_text p:nth-child(2){
	transform: translateY(0%) !important;
	opacity: 1 !important;
}

.checked_category{
	background: #FFCC01 !important;
	border: 1px solid #FFCC01 !important;
}